<h2 class="govuk-heading-l">Past prediction details</h2>

<div>
  <section aria-label="Service information" class="govuk-service-navigation"
  data-module="govuk-service-navigation" style="background-color: white; margin-bottom: 20px; margin-top: -10pxl;">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>


        <ul class="govuk-service-navigation__list" id="navigation7day">
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active" onclick="toggleTime7Days()">
            <a class="govuk-service-navigation__link" href="#" aria-current="true" >
              <strong class="govuk-service-navigation__active-fallback">Last 7 days</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item" onclick="toggleTime7DaysHistoric()">
            <a class="govuk-service-navigation__link" href="#">
              Choose date range
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <br />
    <div class="govuk-button-group">
      <button onclick="toggleDataGraphHistoric()" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="buttonToggleHistoric">Show data table</button>
  </div>
  </div>
</section>
</div>
<div id="ShowChartHistoric">
<canvas id="WeekChartHistoric"></canvas>
</div>

<div id="ShowDataHistoric">
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Prediction date</th>
        <th scope="col" class="govuk-table__header">Likelihood of violation</th>

      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Mon 7 April 2025</td>
        <td class="govuk-table__cell">65%</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Tue 8 April 2025</td>
        <td class="govuk-table__cell">90%</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Wed 9 April 2025</td>
        <td class="govuk-table__cell">60%</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Thur 10 April 2025</td>
        <td class="govuk-table__cell">70%</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Fri 11 April 2025</td>
        <td class="govuk-table__cell">75%</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Sat 12 April 2025</td>
        <td class="govuk-table__cell">80%</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Sun 13 April 2025</td>
        <td class="govuk-table__cell">80%</td>
      </tr>
    </tbody>
  </table>
  </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const week = document.getElementById('WeekChartHistoric');
</script>

<script>
new Chart(WeekChartHistoric, {
  type: 'line',
  data: {
    labels: ['Mon 7 April 2025', 'Tue 8 April 2025', 'Wed 9 April 2025', 'Thur 10 April 2025', 'Fri 11 April 2025', 'Sat 12 April 2025',  'Sun 13 April 2025'],
    datasets: [{
      label: 'Likelihood of violation (%)',
      data: [65, 90, 60, 70, 75, 80, 80],
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true,
        max:100
      }
    }
  }
});

</script>

<script>
document.getElementById("ShowDataHistoric").style.display="none";

function toggleDataGraphHistoric() {
  var x = document.getElementById("ShowChartHistoric");
  var y = document.getElementById("ShowDataHistoric");
  var z = document.getElementById("buttonToggleHistoric");


  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none";
    z.innerHTML = "Show data table"

  } else {
    x.style.display = "none";
    y.style.display = "block";
    z.innerHTML = "Show graph"
  }
}
</script>
