<h2 class="govuk-heading-l">Past prediction details</h2>

<div>
  <section aria-label="Service information" class="govuk-service-navigation"
  data-module="govuk-service-navigation" style="background-color: white; margin-bottom: 20px; margin-top: -10pxl;">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation7day">
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active" onclick="toggleTime7Days()">
            <a class="govuk-service-navigation__link" href="#" aria-current="true" >
              <strong class="govuk-service-navigation__active-fallback">Last 7 days</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item" onclick="toggleTime7DaysHistoric()">
            <a class="govuk-service-navigation__link" href="#">
              Choose date range
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <br />
    <div class="govuk-button-group">
      <button onclick="toggleDataGraphHistoric()" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="buttonToggleHistoric">Show data table</button>
  </div>
  </div>
</section>
</div>
<div id="ShowChartHistoric">
<canvas id="WeekChartHistoric"></canvas>
</div>

<div id="ShowDataHistoric">
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Prediction date</th>
        <th scope="col" class="govuk-table__header">Likelihood of violation</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Mon 7 April 2025</td>
        <td class="govuk-table__cell">10%</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Tue 8 April 2025</td>
        <td class="govuk-table__cell">15%</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Wed 9 April 2025</td>
        <td class="govuk-table__cell">18%</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Thur 10 April 2025</td>
        <td class="govuk-table__cell">24%</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Fri 11 April 2025</td>
        <td class="govuk-table__cell">20%</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Sat 12 April 2025</td>
        <td class="govuk-table__cell">20%</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Sun 13 April 2025</td>
        <td class="govuk-table__cell">20%</td>
      </tr>
    </tbody>
  </table>
  </div>
  <details class="govuk-details" style="margin-top:30px;">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        How predictions are formulated
      </span>
    </summary>
    <div class="govuk-details__text">
     <p>Predictions use the following 3 variables to predict a person on probation’s likelihood of violating their HDC:</p>
      <ul>
        <li>their number of violation minutes over the last 7 days</li>
        <li>their percentage of total days under HDC with a violation</li>
        <li>whether they have a previous custodial sentence</li>
      </ul>
      <p>The higher the person on probation’s score, the more likely they are to violate their HDC within the next 14 days.</p>
      <h3 class="govuk-heading-m">Things you need to know about this prediction</h3>
      <p>Prediction are updated each day when the latest HDC data is available.</p>
      <p><a href="#">Sign up for prediction updates for Richard Marks</a></p>
      </div>
  </details>
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Check Richard’s HDC and probation notes
      </span>
    </summary>
    <div class="govuk-details__text">

      <p>Use the following services to check Richard’s HDC and probation notes: </p>
      <ul>
        <li><a href="#">Manage people on probation (MPoP)</a> - For general information </li>
        <li><a href="#">NDelius</a> - For case management notes</li>
        <li><a href="#">OASys</a> - For offending-related needs</li>
      </ul>
    </div>
  </details>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const week = document.getElementById('WeekChartHistoric');
</script>

<script>
new Chart(WeekChartHistoric, {
  type: 'line',
  data: {
    labels: ['Mon 7 April 2025', 'Tue 8 April 2025', 'Wed 9 April 2025', 'Thur 10 April 2025', 'Fri 11 April 2025', 'Sat 12 April 2025', 'Sun 13 April 2025'],
    datasets: [{
      label: 'Likelihood of violation (%)',
      data: [10, 15, 18, 24, 20, 20, 20],
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true,
        max:100
      }
    }
  }
});





</script>

<script>
document.getElementById("ShowDataHistoric").style.display="none";

function toggleDataGraphHistoric() {
  var x = document.getElementById("ShowChartHistoric");
  var y = document.getElementById("ShowDataHistoric");
  var z = document.getElementById("buttonToggleHistoric");


  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none";
    z.innerHTML = "Show data table"

  } else {
    x.style.display = "none";
    y.style.display = "block";
    z.innerHTML = "Show graph"
  }
}
</script>
