{% extends "layouts/main.html" %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-thirds">
        <h1 class="govuk-heading-xl">Probation details for John Doe</h1>
        <div class="govuk-tabs" data-module="govuk-tabs" >

          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#overview">
                Overview123
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#detail">
                Detail
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#action">
                Action
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#contact">
                Contact
              </a>
            </li>
          </ul>
          <div class="govuk-tabs__panel" id="overview" style="height:600px;" >
            <h2 class="govuk-heading-l">Person on probation overview</h2>
            <dl class="govuk-summary-list" style="float: left; width: 50%;">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                  John Doe
                </dd>
                
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  CRN
                </dt>
                <dd class="govuk-summary-list__value">
                  CZ39271
                </dd>
                
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                  31 High Street<br>London<br>W1A 1AA
                </dd>
                
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Curfew start date
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">5th August 2024</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Curfew end date
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">31st September 2024</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Curfew start time
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">7.00 PM</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Curfew end time
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">7.00 AM</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Total violation minutes
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">100</p>
                </dd>
              </div>
            </dl>
            <div style="float: right; width: 40%;">
              <img src="/public/images/1.jpg" alt="User icon" height="100%" width="100%">
            </div>
          </div>
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="detail">
            <h2 class="govuk-heading-l">Person on probation details</h2>
            <img src="/public/images/3.jpg" alt="User icon" height="100%" width="100%">
            <img src="/public/images/4.jpg" alt="User icon" height="100%" width="100%">
          </div>
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="action">
            <h2 class="govuk-heading-l">Past month</h2>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Violation date</th>
                  <th scope="col" class="govuk-table__header">Violation start time </th>
                  <th scope="col" class="govuk-table__header">Violation end time</th>
                  <th scope="col" class="govuk-table__header">Violation minutes</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">1st September 2024</td>
                  <td class="govuk-table__cell">10.40PM</td>
                  <td class="govuk-table__cell">10.45PM</td>
                  <td class="govuk-table__cell">5</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">21st September 2024</td>
                  <td class="govuk-table__cell">1.40PM</td>
                  <td class="govuk-table__cell">1.45PM</td>
                  <td class="govuk-table__cell">5</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">28th September 2024</td>
                  <td class="govuk-table__cell">10.00PM</td>
                  <td class="govuk-table__cell">10.45PM</td>
                  <td class="govuk-table__cell">45</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="contact">
            <h2 class="govuk-heading-l">Past year</h2>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Case manager</th>
                  <th scope="col" class="govuk-table__header">Cases opened</th>
                  <th scope="col" class="govuk-table__header">Cases closed</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">David Francis</td>
                  <td class="govuk-table__cell">1380</td>
                  <td class="govuk-table__cell">1472</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Paul Farmer</td>
                  <td class="govuk-table__cell">1129</td>
                  <td class="govuk-table__cell">1083</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Rita Patel</td>
                  <td class="govuk-table__cell">1539</td>
                  <td class="govuk-table__cell">1265</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
      </div>

      <!--<div class="govuk-grid-column-one-third" style="margin-top: 100px;">
hello
      </div>-->
    </div>
  </main>
</div>

  
{% endblock %}
