{% extends "layouts/main.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-m">prototype setup</h1>
    </div>
</div>
<form method="post" >


<!--   <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h3 class="govuk-label" ><strong>Show search facility on tile navigation page</strong></h3><br />
          <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="setuoShowSearchYes" name="setuoShowSearch" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="setuoShowSearchYes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="setuoShowSearchNo" name="setuoShowSearch" type="radio" value="no" checked="checked">
              <label class="govuk-label govuk-radios__label" for="setuoShowSearchNo">
             No
          </div>
        </div>
      </div>
    </div>-->
    <hr />
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-label" ><strong>Choose user journey</strong></h3><br />
            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="handler" name="setupUserJourney" type="radio" value="handler" checked="checked">
                <label class="govuk-label govuk-radios__label" for="handler">
                  Probation
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="reviewer" name="setupUserJourney" type="radio" value="reviewer">
                <label class="govuk-label govuk-radios__label" for="reviewer">
               Other
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="authoriser" name="setupUserJourney" type="radio" value="authoriser">
              <label class="govuk-label govuk-radios__label" for="authoriser">
             Other 2
          </div>
        </div>
      </div>



    <hr />
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-label" ><strong>Show xxx</strong></h3><br />
            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="setuoShowSearchYes" name="setupShowNumberList" type="radio" value="true" checked="checked">
                <label class="govuk-label govuk-radios__label" for="setuoShowSearchYes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="setuoShowSearchNo" name="setupShowNumberList" type="radio" value="false">
                <label class="govuk-label govuk-radios__label" for="setuoShowSearchNo">
               No
            </div>
          </div>
        </div>
      </div>



  <!--  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-label" ><strong>Show facility claim as task list or card view</strong></h3><br />
            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="setupShowTasklist" name="setupShowCardview" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="setupShowTasklist">
                  Task list
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="setupShowCardview" name="setupShowCardview" type="radio" value="yes" checked="checked">
                <label class="govuk-label govuk-radios__label" for="setupShowCardview">
               Card View
            </div>
          </div>
        </div>
      </div>-->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      <br /><br />
      <button class="govuk-button" data-module="govuk-button">Start prototype</button>
    </div>
  </div>
</form>
{% endblock %}
