
<div>
    <canvas id="violation"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const week = document.getElementById('violation');
</script>
    
    <script>
    new Chart(violation, {
      type: 'pie',
      
      data: {
        labels: ['Chance of a violation not occuring (%) ', 'Chance of a violation occuring (%) '],
        datasets: [{
          data: [20,80],
          backgroundColor: [
        'rgb(230, 230, 230)',
         'rgb(244,205,198)'
         
        ]
        }]
      }
    });
</script>
