{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Prototypes for Electronic data monitoring
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          User research, content docs and flow diagrams.
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body govuk-!-margin-bottom-2">All links open in a new browser window or tab.</p>
        <p class="govuk-body govuk-!-margin-bottom-2">User research:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#" target="_blank" class="govuk-link govuk-link--no-visited-state">UR</a></li>

        </ul>

        <p class="govuk-body govuk-!-margin-bottom-2">Copydecks:</p>
        <ul class="govuk-list govuk-list--bullet">
<li><a target="_blank" href="https://justiceuk.sharepoint.com/sites/DataEngineeringDataScience/Shared%20Documents/Forms/AllItems.aspx?id=%2Fsites%2FDataEngineeringDataScience%2FShared%20Documents%2FGeneral%2F2%2E%20Data%20Science%20%26%20AI%20Hub%2F4%2E%20Probation%20%26%20EM%2FElectronic%20Monitoring%2FContent%20design%20%2D%20EM%20data%20insights%2FCopy%20decks%20%2D%20EM%20data%20insights%2FPrediction%20content%20%2D%20April%202025&viewid=9609be6e%2D88e1%2D473c%2Dae31%2D4c98da0b4c14&p=true&ga=1">Freds copy decks</a></li>
        </ul>

        <p class="govuk-body govuk-!-margin-bottom-2">Miro boards:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://miro.com/app/board/uXjVIa6YexU=/" target="_blank">Alpha - Electronic Monitoring Data Insights Team Board</a></li>
          <li><a href="https://miro.com/app/board/uXjVK_pYqPs=/" target="_blank">Probation EM Tool</a></li>
          <li><a href="https://miro.com/app/board/uXjVLwES188=/" target="_blank">EM Data Team integration mapping</a></li>





        </ul>

      </div>
    </details>
    <table class="govuk-table">
      <thead class="govuk-table__head" >
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" width="15%">Version</th>
          <th scope="col" class="govuk-table__header" width="15%">Status</th>
          <th scope="col" class="govuk-table__header">What changed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="v4/1" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 4</a> </td>
            <td class="govuk-table__cell" >
              <strong class="govuk-tag govuk-tag--blue">
                I<span style="text-transform:lowercase;">n design </span>
              </strong>
            </td>
            <td class="govuk-table__cell" >
              <ul class="govuk-list govuk-list--bullet">
                  <li>Curfew iteration for prediction section<br /><br />
                    <ul>
                      <li>Predictions with graph - v4 content changes</li>
                        <ul>
                        <li><a href="v4/predictions/graph80">Prediction 80%</a></li>
                        <li><a href="v4/predictions/graph20">Prediction 20%</a></li>
                        <li><a href="v4/predictions/graph0">Prediction 0%</a></li>
                      </ul>
                  </ul>
                  <ul>
                    <br />
                    <li>Predictions with text only - v4 content changes</li>                    
                      <ul>
                        <li><a href="v4/predictions/text80">Prediction 80%</a></li>
                        <li><a href="v4/predictions/text20">Prediction 20%</a></li>
                        <li><a href="v4/predictions/text0">Prediction 0%</a></li>
                      </ul>
                </ul>
                </td>
              </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="v3/1" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 3</a> </td>
            <td class="govuk-table__cell" >
              <strong class="govuk-tag govuk-tag--grey">
                C<span style="text-transform:lowercase;">losed </span>
              </strong>
            </td>
            <td class="govuk-table__cell" >
              <ul class="govuk-list govuk-list--bullet">
                  <li>Curfew iteration for prediction section
                    <ul>
                      <li><a href="v3/predictions/graph">Prediction with a simple graph</a></li>
                      <li><a href="v3/predictions/text">Prediction as text only</a></li>
                      <li><a href="v3/predictions/percent">Prediction with percent info graphic</a></li>
                    </ul>
                    </li>
              </ul>
            </td>
          </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="v2/1" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 2</a> </td>
            <td class="govuk-table__cell" >
              <strong class="govuk-tag govuk-tag--grey">
                C<span style="text-transform:lowercase;">losed </span>
              </strong>
            </td>
            <td class="govuk-table__cell" >
              <ul class="govuk-list govuk-list--bullet">
                  <li><a href="/v2/1">Wireframe</a> of curfew iteration</li>
              </ul>
            </td>
          </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="v1/setup" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 1</a> </td>
            <td class="govuk-table__cell" >
              <strong class="govuk-tag govuk-tag--grey">
                C<span style="text-transform:lowercase;">losed </span>
              </strong>
            </td>
            <td class="govuk-table__cell" >
              <ul class="govuk-list govuk-list--bullet">
                <li>Mock up of original curfew screens
                  <li><a href="/v1/1">Version 1</a> - list view with 1 graph</li>
                  <li><a href="/v1/2">Version 2</a> - card view with 1 graph</li>
                  <li><a href="/v1/3">Version 3</a> - card view with 2 graphs</li>
                </li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    {% endblock %}
